body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
header {
    position: fixed;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
}
#hamburger {
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.icon {
    display: flex;
    align-items: center;
}
#logo-img {
    margin: 10px;
    height: 50px;
}
#logo-title {
    font-size: 17px;
}
.header-left {
    display: flex;
    flex-direction: row;
}
.header-right {
    margin-right: 10px;
}
nav > ul {
    display: flex;
}
nav > ul > li {
    list-style-type: none;
    margin: 0px 10px;
    background-color: white;
    border-radius: 3px; 
}
nav > ul > li > a {
    color:  rgb(34, 34, 34);
    text-decoration: none;
}
nav > ul > li > a:hover {
    color: white;
    text-decoration: none;
}
nav > ul > li:hover {
    text-decoration: none;
    color: white;
    background-color: firebrick;
}
.icon {
    display: flex;
}
#icon-logo #icon-title {
    height: 32px;
    width: 32px;
}
.desktop-nav {
    border-radius: 5px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 10px;
}
main {
    margin-top: 81px;
}

.mangekyo-photos {
    display: flex;
}
.heroku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 100, 29);
}
.mangekyo-designs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mangekyo-photos {
    width: 100%;
    justify-content: space-around;
}
.whose-eyes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mangekyo-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 100, 29);
}
.facts-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mangekyo-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: white;
    padding-bottom: 20px;
}
#submit-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

/* for tablet and desktop */
@media only screen and (min-width: 768px) {

}

/* for tablet and phone */
@media only screen and (max-width: 768px) {
    body {
    width: auto;
    }
    .mangekyo-photos {
        width: 100%;
        justify-content: space-around;
        display:flex;
        flex-direction: column;
    }
}